body {
    margin: 0 0;
    padding: 0 0;
    background-color: black;
}
.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.wrapper > canvas {
    border: 5px solid rgb(212, 0, 255);
    border-radius: 20px;
}
#score {
    color: #fff;
    margin: 0 0 0 0;
    font-size: 1.875em;
    font-family: "Zen Dots", cursive;
    text-align: center;
}
